body {
  margin: 0;
  font-size: 30px;
}

.css,
.js {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.css-block {
  background: #71ade6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.css {
  margin-right: 15px;
}

.js-block {
  background: #edf7cb;
  padding-top: 20px;
  padding-bottom: 20px;
}

.js {
  margin-right: 15px;
}

a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
}

a:hover {
  color: white;
  border: 1px solid #3595c2;
  background: #3595c2;
}
