body {
  margin: 0;
  font-size: 30px;
}

header {
  height: 50px;
  background: #c5e6ee;
  padding-top: 20px;
}

a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
}

a:hover{
    color: white;
    border: 1px solid #1283b8;
    background: #1283b8;
}
